APP_NAME= 
DEBUG=
API_V1_STR=
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=postgresql+asyncpg://admin:admin@postgres:5432/job_tracker
DATABASE_URL_ALEMBIC=postgresql+psycopg://admin:admin@postgres:5432/job_tracker